/* style.css */

/* Change the background color of the body */
body {
    background-color: white;
}

/* Style the main Streamlit app container */
.stApp {
    background: url('https://img-3.journaldesfemmes.fr/x9Ghv5tUnuHOrOkweGUIuP2cPZU=/1240x/smart/38888207364b4e12a4058004322afa49/ccmcms-jdf/36666882.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Style for the main title container */
.main-title {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Style for the content containers */
.content {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white; /* White text color */
}

/* Style for the sidebar header */
.stSidebar > div:first-child {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Style for the sidebar content */
.stSidebar > div:nth-child(2) {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

/* Style for the footer image container */
.footer-image {
    text-align: center;
    margin-top: 50px;
}

.footer-image img {
    width: 70%;
    border-radius: 15px;
}

.footer-image p {
    color: gray;
    font-size: 0.9em;
}